a {
	&.btn {
		font-family: $font-heading;
		font-weight: 700;
		font-size: 16px;
		line-height: 25px;
		padding: 13px 30px;
		align-items: center;
		text-align: center;
		text-transform: uppercase;
		border-radius: 10px;

		@media screen and (max-width: $breakpoint-md) {
			font-size: 15px;
			max-width: 260px;
			height: 50px;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto;
		}

		&.mobile-mt {
			@media screen and (max-width: $breakpoint-md) {
				margin: 1.5rem auto 0;
			}
		}

		&.btn--blue {
			background: $blue !important;
			color: $white !important;

			&:hover {
				background: $blue-dark !important;
			}
		}

		&.btn--white {
			background: $white !important;
			color: $blue-dark !important;

			&:hover {
				background: $blue-dark !important;
				color: $white !important;
			}
		}
	}
}
