.dpu-header {
	background: $primary;
	margin: auto;
}
.navbar {
	border-radius: 0px;
	padding-top: 23px !important;
	padding-bottom: 23px !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
	margin-bottom: 0;

	.navbar-toggle {
		min-width: unset !important;
	}
	a {
		color: $white !important;
		font-weight: 400;
		font-family: $font-heading;

		&.active {
			font-weight: 900;
		}
	}
	.navbar-brand {
		height: auto;
		img {
			padding-left: 75px;
			height: 36px;

			@media screen and (max-width: $breakpoint-masthead-lg) {
				padding-left: 10px;
				height: 30px !important;
			}
		}
	}
	.navbar-collapse {
		box-shadow: none;
		border: none;

		@media screen and (max-width: $breakpoint-lg) {
			padding-top: 20px;
			padding-left: 10px;
		}
	}
}

.navbar-nav {
	//    margin-top: 8px;
	padding-left: 75px;
	margin-right: 5vw;
	font-size: 18px;
	@media screen and (max-width: $breakpoint-masthead-lg) {
		padding-left: 10px;
	}

	> li.nav-item {
		margin-right: 30px;
		&:last-of-type {
			margin-right: 0;
		}
		> a.nav-link {
			position: relative;
			padding-left: 0;
			&:after {
				content: '';
				display: block;
				width: 0;
				height: 2px;
				background: #fff;
				transition: all 0.3s ease-in-out;
			}
			&:hover,
			&:focus {
				background-color: transparent;
				//            color: $primary-dark;
				&:after {
					width: 100%;
					// width: calc(100% - 4px - 0.6em);
				}
				.fas,
				.fa,
				.svg-inline--fa {
					transform: translate(4px, -0.13em);
				}
			}
			.fas,
			.fa,
			.svg-inline--fa {
				margin-left: 4px;
				font-size: 0.8em;
				transform: translate(0, -0.13em);
				transition: all 0.3s ease-in-out;
			}
		}
		> a.nav-link.active:after {
			background: $blue;
		}
	}
}

/* -----------------------------
Navigation
----------------------------- */

.navbar-toggle .icon-bar {
	background: #fff;
	display: block;
}

/* -----------------------------
Animated Mobile Menu Link
----------------------------- */

.navbar-toggle {
	border: none;
	background: transparent !important;
	margin: 0;
	padding: 8px;
	&:focus {
		outline-color: #fff;
	}
	@media (min-width: $breakpoint-xl) {
		display: none;
	}
}

.navbar-toggle:hover {
	background: transparent !important;
}

.navbar-toggle .icon-bar {
	width: 28px;
	height: 3px;
	transition: all 0.2s;
}
.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 6px;
}

.navbar-toggle .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
	opacity: 0;
}

.navbar-toggle .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: -2% 90%;
}

.navbar-toggle.collapsed .top-bar {
	transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
	opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
	transform: rotate(0);
}

//@media screen and (max-width: $screen-sm-max){
// 991px
@media screen and (max-width: $breakpoint-md) {
	.navbar-nav {
		margin: 14px -24px 0;
		> li {
			margin-bottom: 6px;
			&:last-of-type {
				margin-bottom: 0;
			}
			> a {
				padding: 15px 24px;
			}
		}
	}
}

//@media screen and (max-width: $screen-xs){
// 480px
@media screen and (max-width: $breakpoint-xs) {
	.navbar .navbar-brand img {
		padding-left: 5px;
	}
	.navbar-toggle {
		margin-bottom: 0;
	}
}
